[submodule "code/application"]
	path = code/application
	url = https://github.com/Barcley1990/STMWordclock
[submodule "code/bootloader"]
	path = code/bootloader
	url = https://github.com/Barcley1990/OTAWordclock
