[submodule "code/application"]
	path = code/application
	url = https://Barcley1990@github.com/Barcley1990/STMWordclock.git
[submodule "code/bootloader"]
	path = code/bootloader
	url = /Users/tobias/Documents/Arduino/OTAWordClock
